{% extends 'base.html.twig' %}

{% block title %}Application{% endblock %}

{% block body %}
    <h1>Application</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Applicant_id</th>
                <td>{{ application.applicantId }}</td>
            </tr>
            <tr>
                <th>Id_job_advert</th>
                <td>{{ application.idJobAdvert }}</td>
            </tr>
            <tr>
                <th>Validation_id</th>
                <td>{{ application.validationId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_applicant_interface_index') }}">back to list</a>

    <a href="{{ path('app_applicant_interface_edit', {'id': application.id}) }}">edit</a>

    {{ include('applicant_interface/_delete_form.html.twig') }}
{% endblock %}
